{% extends 'events/base.html' %}

{% block content %}
    <h2 class="mb-4">Create Event</h2>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
{% endblock %}